{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la Billeterie !{% endblock %}

{% block body %}

    <section class="section">

        <div class="container">

            <h2>Coordonnées de l'acheteur :</h2>

            <div class="form-group row">

                {{ form_start(buyerForm) }}
                <div class="col-sm-12">
                    {{ form_row(buyerForm.lastName) }}
                </div>


                {{ form_row(buyerForm.name) }}
                {{ form_row(buyerForm.email) }}

                <h2>Adresse de facturation :</h2>
                {{ form_row(buyerForm.adress) }}
                {{ form_row(buyerForm.zipcode) }}
                {{ form_row(buyerForm.city) }}
            </div>

            <div class="row">

                <button type="submit" class="btn btn-primary">Valider</button>
            </div>



            {{ form_end(buyerForm) }}

        </div>

    </section>

{% endblock %}